// Modal
.modal#modal
	.modal-inner 
		.modal-controller
			button.modal-close-btn
				<?xml version="1.0" encoding="UTF-8"?>
				<svg aria-hidden="true" data-fa-i2svg="" data-icon="times" data-prefix="fa" focusable="false" role="img" viewBox="0 0 352 512" xmlns="http://www.w3.org/2000/svg">
				<path d="m242.72 256 100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0l-100.07 100.07-100.07-100.07c-12.28-12.28-32.19-12.28-44.48 0l-22.24 22.24c-12.28 12.28-12.28 32.19 0 44.48l100.07 100.07-100.07 100.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0l100.07-100.07 100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48l-100.07-100.07z" fill="currentColor"/>
				</svg>


		.modal-content
			img(src="https://lh3.googleusercontent.com/yxa9oRnYpttPf-At8OgHloAdPOGRDbPxyI98-ZwviWXNmMpAmPjGg6RWDeGzU1McLVeve6c_lwHYUwjId8TV2VfjmqmHWhItTNGBfjY", alt="" style="width: 250px; display: block; margin: 2rem auto;")