.container
    max-width: ($device-lg - 150)+px // 1150px
    margin-left: auto
    margin-right: auto

@include breakpoint (1200)
    .container
        padding: 0 2rem

@include breakpoint (768)
    .container
        padding: 0 .5rem

.rounded
    border-radius: 99rem !important

.rounded-square
    border-radius: 50% !important


///////////// padding
.p-0
    padding: 0 !important

//////////// Border
.border
    border: 1px solid darken($gray-10, 1%) !important


////////// Typeography
.text-center
    text-align: center !important

.bg-white
    background-color: $white

.bg-black
    background-color: $black

////////////////////// ICON
.icon
    height: 24px
    width: 24px

    & > * 
        height: 24px
        width: 24px    

.opacity-low
    opacity: .4 !important

/////////////////// DIMENSION
.h-100
    height: 100% !important

//////////////////// positioning
.center
    display: flex !important
    align-items: center !important
    justify-content: center !important

.text-center
    text-align: center !important

///////////////////// Responsive classes
.img-responsive
    width: 100%

////////////////////// Shadow
.shadow
    box-shadow: 0 1px 2px #00000033

///////////////////// none
.pointer-none
    pointer-events: none !important

.user-select-none
    user-select: none !important

.drag-none
    -webkit-user-drag: none






///////////////// Display
.flex
    display: flex !important

.block
    display: block !important
