.container
    max-width: ($device-lg - 150)+px // 1150px
    margin-left: auto
    margin-right: auto

@include breakpoint (1200)
    .container
        padding: 0 2rem

@include breakpoint (768)
    .container
        padding: 0 .5rem

.rounded
    border-radius: 99rem !important

.rounded-square
    border-radius: 50% !important


///////////// padding
.p-0
    padding: 0 !important

//////////// Border
.border
    border: 1px solid darken($gray-10, 1%) !important


////////// Typeography
.text-center
    text-align: center !important

.bg-white
    background-color: $white

.bg-black
    background-color: $black
