@import 'variables'

:root
	--blue: #{$blue}
	--cherry: #{$cherry}
	--grape: #{$grape}
	--lemon: #{$lemon}
	--lime: #{$lime}
	--green: #{$green}
	--pink: #{$pink}
	--seafoam: #{$seafoam}
	--teal: #{$teal}
	--tomato: #{$tomato}

	--link: #{$link}

	--icon: #{$icon}
	--text: #{$text}
	--bg: #{$bg}
	
	--blue-05: #{$blue-05}
	--blue-30: #{$blue-30}
	--blue-40: #{$blue-40}
	--blue-60: #{$blue-60}
	--blue-70: #{$blue-70}
	--blue-80: #{$blue-80}

	--gray-00: #{$gray-00}
	--gray-05: #{$gray-05}
	--gray-10: #{$gray-10}
	--gray-20: #{$gray-20}
	--gray-25: #{$gray-25}
	--gray-30: #{$gray-30}
	--gray-45: #{$gray-45}
	--gray-70: #{$gray-70}
	--gray-80: #{$gray-80}
	--gray-90: #{$gray-90}
	--gray-100: #{$gray-100}

	--black: #{$black}
	--black-alpha-05: #{$black-alpha-05}
	--black-alpha-10: #{$black-alpha-10}
	--black-alpha-15: #{$black-alpha-15}
	--black-alpha-20: #{$black-alpha-20}
	--black-alpha-30: #{$black-alpha-30}
	--black-alpha-40: #{$black-alpha-40}
	--black-alpha-50: #{$black-alpha-50}
	--black-alpha-60: #{$black-alpha-60}
	--black-alpha-80: #{$black-alpha-80}

	--bootstrap-font: #{$bootstrap-font}
