main(aria-label='main')
	.single-post-container
		.single-post-details
			.category.flex.align-items-center
				a(href="/Topics/Nature") Nature
				.space
					span
				a(href="/Topics/Plant") Planting
			
			.title(aria-label='title')
				h4 Plant a tree inside the storm that is muted by others

	.single-thumbnail
		.img.center
			img(src=require('./10836.jpg'), alt="plant tree")

	.single-post-container
		article.single-post(aria-label='article')
			.methods
				h3.step-headline
					.alt Method 
						span.alt-no 1

					span.headtext Get a new plant 

				.method-steps
					.method-step
						.img
							img(src=require('../../static/images/demo/1.jpg'), alt="First Image")
						.details
							p.method-step-no 
								span 1
							p This is how it works and I do not like it most of the time you know why it happen.
					
					.method-step
						.img
							img(src=require('../../static/images/demo/2.jpg'), alt="First Image")
						.details
							p.method-step-no 
								span 2
							p If you've already created an account, tap Log In at the bottom to sign in instead.
							p Your password must be at least 8 characters, and should be a mix of letters (upper- and lower-case), numbers, and symbols.


				

