.recommended-posts 
	h4.heading Recommended Articles

	.post-container
		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/4/4d/Go-With-the-Flow-Step-6.jpg/aid1124587-v4-728px-Go-With-the-Flow-Step-6.jpg", alt="any")

					h4.title How to become a freelancer in 2021

		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/9/9b/Cope-with-Being-Bored-Step-13-Version-2.jpg/aid173377-v4-700px-Cope-with-Being-Bored-Step-13-Version-2.jpg", alt="any")

					h4.title Friends are not always behaives like a friends 
		
		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/a/ac/Cope-with-Being-Bored-Step-10-Version-2.jpg/aid173377-v4-728px-Cope-with-Being-Bored-Step-10-Version-2.jpg", alt="any")

					h4.title Learn Blogging in 2021
		
		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/0/0d/Know-if-Someone-is-Lying-Step-21.jpg/aid1228359-v4-728px-Know-if-Someone-is-Lying-Step-21.jpg", alt="any")

					h4.title Most important thing in life

		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/5/5c/Be-Funny-Without-Telling-Jokes-Step-12.jpg/aid1699895-v4-728px-Be-Funny-Without-Telling-Jokes-Step-12.jpg", alt="any")

					h4.title Be like or not be like it.

		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/9/9b/Cope-with-Being-Bored-Step-13-Version-2.jpg/aid173377-v4-700px-Cope-with-Being-Bored-Step-13-Version-2.jpg", alt="any")

					h4.title Friends are not always behaives like a friends 
		
		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/a/ac/Cope-with-Being-Bored-Step-10-Version-2.jpg/aid173377-v4-728px-Cope-with-Being-Bored-Step-10-Version-2.jpg", alt="any")

					h4.title Learn Blogging in 2021
		
		.backface.shadow
			a(href="/Plant-A-New-Tree")
				article.recommended-post
					.img
						img.drag-none(src="https://www.wikihow.com/images/thumb/0/0d/Know-if-Someone-is-Lying-Step-21.jpg/aid1228359-v4-728px-Know-if-Someone-is-Lying-Step-21.jpg", alt="any")

					h4.title Most important thing in life
