doctype html

html(lang="en")

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        // Important meta tags for SEO will be go here. Use only valid and true
        // Content to load html data 
        block meta
        title The Free Craft
        link(rel="icon" type="image/png" href=require("/public/favicon.ico"))

        // Load all the innerStyle here, InnerStyle help to improve the speed of
        // loading
        block styles

    body
        #root
            block content

        // Scripts Loader
        block scripts
