.main-post-container.post-container
	max-width: 600px
	margin: 1rem auto

.article
	width: 100%
	background-color: $white
	border-radius: unit(4)
	margin-bottom: .5rem
	overflow: hidden

	&:hover
		// background-color: darken($white, 1%)

	&-info
		// position: relative
		// top: -6px
		padding: .75rem 1rem
		align-items: center

		.more-info
			margin-left: .5rem
			flex-direction: column
			justify-content: center

		.authortopics
			align-items: center
			margin-bottom: unit(2)

			.author
				font-weight: 700
				text-decoration: none
				color: $text
				line-height: 1
				font-size: unit(13)

				&:hover
					text-decoration: underline

		.topics
			font-size: unit(13)
			text-decoration: none
			color: lighten($text, 30%)

			&:hover
				text-decoration: underline
			// padding: unit(2) 1rem
			// border-radius: 99rem
			// font-size: unit(12)
			// background-color: $blue
			// color: $white
			// text-align: center

		.time
			font-size: unit(12)
			color: $gray-45
			margin-left: .5rem
			text-decoration: none
			line-height: 1

			&:hover
				text-decoration: underline

		.article-author-img
			border-radius: 50%
			height: 36px
			width: 36px
			overflow: hidden

			.author-img // an image
				width: 100%
			
		.author-link
			line-height: 1

	&-body
		.text
			padding: 0 1rem 1rem
			font-size: 15px

			* 
				margin: .5rem 0 !important
				padding: 0 !important
				color: $text

			.title
				font-size: 1rem 
				font-weight: 700

			a
				text-decoration: none

				&:hover
					text-decoration: underline

		img
			width: 100%

		.article-thumbnail
			line-height: 0
			display: block

.Pagination
	max-width: 600px
	margin: 1.5rem auto
	align-items: center

	.pageBtn
		padding: .45rem 1rem 
		color: darken( $blue, 10% )
		text-decoration: none
		background-color: $white
		font-size: 15px
		margin-right: .25rem

	.prev
		display: block

		span::after
			content: ' \20\00AB'   
			height: 100%
			display: block
	.next
		display: block

		span::after
			content: ' \20\00BB'   
			height: 100%
			display: block


		

