div(aria-label='new articles')
	.post-container.main-post-container

		article.article.border
			.article-info.user-select-none
				.info-left.flex
					a(href="/").author-link
						.article-author-img
							img.author-img(src="https://i.pinimg.com/originals/73/16/f5/7316f550de9ca0045e3d8d98a5bb5e44.png", alt="username")
					div.more-info.flex
						div.authortopics.flex
							a.author(href="/") Tahazzot
							a.time(aria-label='date time' href='/') 24 minutes ago

						a.topics(href="/topics/Nature") Nature

			.article-body
				.text
					a(href='').title Trying to learn the basic programming language style in udemy
					p Be glad you to know how it works below are the links Lorem ipsum dolor sit amet.
					a(href="https://google.com") Google is cool ah?
					 
				a(href="/").article-thumbnail
					img.drag-none(src="https://www.wikihow.com/images/thumb/4/4d/Go-With-the-Flow-Step-6.jpg/aid1124587-v4-728px-Go-With-the-Flow-Step-6.jpg", alt="Friends good")
		article.article.border
			.article-info.flex.user-select-none
				a(href="/").author-link
					.article-author-img
						img.author-img(src="https://organicthemes.com/demo/profile/files/2018/05/profile-pic.jpg", alt="username")
				div.more-info.flex
					div.authortopics.flex
						a.author(href="/") Stephanie
						span.time(aria-label='date time') 3 hours ago

					a.topics(href="/topics/Nature") WikiMedia

			.article-body
				.text
					p.title It's something we can't be stop at this moment right nw
					p So far no one mentioned a CDN that was built specifically for image delivery, so I’ll start :)
		article.article.border
			.article-info.flex.user-select-none
				a(href="/").author-link
					.article-author-img
						img.author-img(src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29tYW4lMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80", alt="username")
				div.more-info.flex
					div.authortopics.flex
						a.author(href="/") Anonymous
						span.time(aria-label='date time') 46 minutes ago

					a.topics(href="/topics/Nature") Nature

			.article-body
				.text
					p.title Data sciecnce is the most spectaculus part right now in the world
					p So far no one mentioned a CDN that was built specifically for image delivery, so I’ll start :) Try Sirv. It’s an image hosting, management and deliv
					 
				a(href="/").article-thumbnail
					img.drag-none(src=require('../../../static/images/demo/3.jpg'), alt="Books are friend")

		//- include ../RecommendedPost/RecommendedPost.pug
		
		article.border.article
			.article-info.flex.user-select-none
				a(href="/").author-link
					.article-author-img.center
						img.author-img(src="https://organicthemes.com/demo/profile/files/2018/05/profile-pic.jpg", alt="username")
				div.more-info.flex
					div.authortopics.flex
						a.author(href="/") Stephanie
						span.time(aria-label='date time') 3 hours ago

					a.topics(href="/topics/Nature") WikiMedia

			.article-body
				.text
					p.title It's something we can't be stop at this moment right nw
					p So far no one mentioned a CDN that was built specifically for image delivery, so I’ll start :)
		article.border.article
			.article-info.flex.user-select-none
				a(href="/").author-link
					.article-author-img.center
						img.author-img(src="https://cdn.dribbble.com/users/1577045/screenshots/4914645/dribble_pic.png", alt="username")
				div.more-info.flex
					div.authortopics.flex
						a.author(href="/") Imao
						span.time(aria-label='date time') 1 day ago

					a.topics(href="/topics/Nature") Player

			.article-body
				.text
					p.title How to play player in windows 10
					p One mentioned a CDN that was built specifically for image delivery, so I’ll start :)
		
	.Pagination.flex
		
		a(href="/Pages/1").prev.pageBtn
			span
		- for (let i =1; i < 6; i++)
			- let pageName = '/Pages/' + i
			a.pageBtn(href=pageName) #{i}

		a(href="/Pages/43").next.pageBtn
			span

		