.status-single(aria-label='Status For Single Post')
	.container.h-100.flex.align-items-center
		.status-single-container.flex.align-items-center
			.img.center.user-select-none
				img(src='https://cdn.dribbble.com/users/1577045/screenshots/4914645/dribble_pic.png', alt="UserName")

			.author.user-select-none
				a(href='/Pages/single.html') Tahazzot

			.space.user-select-none 
				span .

			.time.user-select-none
				span 2 days ago

			.space.user-select-none 
				span .

			.views.flex.user-select-none
				.icon.center
					<svg aria-hidden="true" focusable="false" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><g><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288.14 400H288a143.93 143.93 0 1 1 .14 0z"></path><path fill="currentColor" d="M380.66 280.87a95.78 95.78 0 1 1-184.87-50.18 47.85 47.85 0 0 0 66.9-66.9 95.3 95.3 0 0 1 118 117.08z"></path></g></svg>

				span 243

			.space.user-select-none 
				span .

			.votes.user-select-none.flex.align-items-center
				.rating
					- for ( let i = 1; i < 6; i++ ) 
						- let className = 'star';
						div(class=className)
							.starSvg(data-id=i)

				span 58% people found helpful

			.space.user-select-none 
				span .

			.share.center
				.icon
					<svg width="24px" height="24px" viewBox="0 0 24 24"><g id="share" stroke="#777" fill="none" stroke-width="1.5" fill-rule="evenodd" stroke-linejoin="round"><path d="M12.0001053,2.99989467 L4.00010533,12.7776724 L9.33343867,12.7776724 C9.78266695,14.7041066 10.5048892,16.2782509 11.5001053,17.5001053 C12.4953215,18.7219597 13.9953215,19.8886264 16.0001053,21.0001053 C15.3415908,19.6668553 14.8428108,18.1668553 14.5037654,16.5001053 C14.16472,14.8333553 14.2190556,13.5925444 14.666772,12.7776724 L20.0001053,12.7776724 L12.0001053,2.99989467 Z" transform="translate(12.000105, 12.000000) rotate(90.000000) translate(-12.000105, -12.000000) "></path></g></svg>
