.status#default-status
	ul.status-list.center.h-100
		li.h-100.center.is-active
			a(href='/')
				span All

		li.h-100.center
			a(href='/topics/News')
				span News

		li.h-100.center
			a(href='/topics/Technology')
				span Technology

		li.h-100.center
			a(href='/topics/Gaming')
				span Gaming

		li.h-100.center
			a(href='/topics/Health')
				span Health

		li.h-100.center
			a(href='/topics/Sports')
				span Sports

		li.h-100.center
			a(href='javascript:void(0)')
				span More