div
	.control-bar.shadow 
		.select(tabindex='-1')
			.icon
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510"><g><path d="M255,226.95c-15.3,0-28.05,12.75-28.05,28.05s12.75,28.05,28.05,28.05s28.05-12.75,28.05-28.05S270.3,226.95,255,226.95zM255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M311.1,311.1L102,408l96.9-209.1L408,102L311.1,311.1z"/></g></svg>
			span.selected.user-select-none Any
			div.selected-backface.user-select-none
			.icon-sm
				<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>

			ul.options
				li.title
					span UI/ UX

				li XD
				li Illustrator
				li PhotoShop

				li.title 
					span Development

				li JavaScript
				li Python
				li ReactJs
				li VueJs 
				li AngularJs
				li Bootstrap
				li CSS3
				li Php
				li WordPress
				li Express 
				li Django


				

	
				