extends components/Layout/Layout.pug

block content
     div
          include components/Nav/Nav.pug
          include components/Status/Status.pug
          
     div(aria-label='main')
          div
               //- include components/Trending/Trending.pug
               include components/Control/Control.pug
          div
               include components/Posts/Post/Post.pug
     
          div
               include components/Footer/Footer.pug