extends components/Layout/Layout.pug

block content
    //- include components/Nav/Nav.pug
    div(style="margin: 1rem")
        button.btn Default
        button.btn.btn-primary Send
        button.btn.btn-success Create post 
        button.btn.btn-danger Delete account
        button.btn.btn-danger.btn-sm Delete All Comments
