nav
    .container
        a.brand.
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 49.1 48.96"><defs><style>.cls-1{fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="28.88" y1="39.02" x2="19.13" y2="3.88" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#3866b1"/><stop offset="0.26" stop-color="#3573ba"/><stop offset="0.72" stop-color="#2d94d1"/><stop offset="1" stop-color="#27aae1"/></linearGradient></defs><path class="cls-1" d="M49.55,25.07A24.78,24.78,0,0,1,35.31,47.36a24,24,0,0,1-8,2.12.86.86,0,0,1-.28,0C21,48.09,16.72,42.88,16.72,35.14c0-8.2,4.87-14.86,13.88-14.86A17.65,17.65,0,0,1,38,21.7a.85.85,0,0,0,1.17-.53l1.13-3.83a.86.86,0,0,0-.48-1A24.78,24.78,0,0,0,30.6,14.6c-12.83,0-21.1,8.77-21.1,20.86A24.06,24.06,0,0,0,10.65,43a.85.85,0,0,1-1.35.93,26,26,0,0,1-2.11-2A24.55,24.55,0,1,1,49.55,25.07Z" transform="translate(-0.45 -0.52)"/></svg>
