div
	.trending(aria-label='trending articles')
		.trending-container
			//- h4.trend-heading Trending

			.center
				a.tbox.user-select-none(aria-label='trending box' href='#')
					.tbox-img.center
						img.drag-none(src=require("/src/static/images/demo/1.jpg"))
					h3 Masterlegue of clash of war when you always
				a.tbox.user-select-none(aria-label='trending box' href='#')
					.tbox-img.center
						img.drag-none(src=require("/src/static/images/demo/2.jpg"))
					h3 Know to become a developer in 2021
				a.tbox.user-select-none(aria-label='trending box' href='#')
					.tbox-img.center
						img.drag-none(src=require("/src/static/images/demo/3.jpg"))
					h3 Football has huge in the world we live
				a.tbox.user-select-none(aria-label='trending box' href='#')
					.tbox-img.center
						img.drag-none(src=require("/src/static/images/demo/4.jpg"))
					h3 We can see the future at July 29, 2021
